# SPDX-FileCopyrightText: Copyright 2025-2026, macmpi
# SPDX-License-Identifier: MIT

# This systemd service manages xg_multi usb-gadget setup

[Unit]
Description=Extended Multifunction Composite USB-gadget
ConditionPathIsDirectory=/sys/class/udc
Wants=network-pre.target
After=local-fs.target syslog.service
Before=network-pre.target serial-getty@ttyGS0.service

[Service]
EnvironmentFile=/etc/default/xg_multi
Type=simple
ExecStart=/usr/bin/xg_multi $XG_MULTI_OPTS \
	${XG_MULTI_OPTS:+"":-$DEV_MAC} \
	${XG_MULTI_OPTS:+"":-$HOST_MAC} \
	${XG_MULTI_OPTS:+"":-$VOLUME} \
	${XG_MULTI_OPTS:+"":-$WATCH} >/dev/null 2>&1
ExecStop=/usr/bin/xg_multi -r >/dev/null 2>&1

[Install]
WantedBy=usb-gadget.target
