# SPDX-FileCopyrightText: Copyright 2025, macmpi
# SPDX-License-Identifier: MIT

# This systemd service manages xg_multi usb-gadget setup

[Unit]
Description=Extended Multifunction Composite USB-gadget
ConditionPathIsDirectory=/sys/class/udc
Wants=network-pre.target
After=local-fs.target syslog.service
Before=network-pre.target serial-getty@ttyGS0.service

[Service]
EnvironmentFile=/etc/default/xg_multi
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/xg_multi $XG_MULTI_OPTS
ExecStop=/usr/bin/xg_multi -r

[Install]
WantedBy=usb-gadget.target

